<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>VolandoUyMobile</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Usuario</display-name>
    <servlet-name>Usuario</servlet-name>
    <servlet-class>com.volandouyback.controllers.Usuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Usuario</servlet-name>
    <url-pattern>/usuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reservas</display-name>
    <servlet-name>Reservas</servlet-name>
    <servlet-class>com.volandouyback.controllers.Reservas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reservas</servlet-name>
    <url-pattern>/Reservas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaRutaVuelo</display-name>
    <servlet-name>AltaRutaVuelo</servlet-name>
    <servlet-class>com.volandouyback.controllers.AltaRutaVuelo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaRutaVuelo</servlet-name>
    <url-pattern>/AltaRutaVuelo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompraPaquete</display-name>
    <servlet-name>CompraPaquete</servlet-name>
    <servlet-class>com.volandouyback.controllers.CompraPaquete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompraPaquete</servlet-name>
    <url-pattern>/CompraPaquete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservarVuelo</display-name>
    <servlet-name>ReservarVuelo</servlet-name>
    <servlet-class>com.volandouyback.controllers.ReservarVuelo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservarVuelo</servlet-name>
    <url-pattern>/ReservarVuelo</url-pattern>
  </servlet-mapping>
</web-app>