
    #container{
        display:flex;
        flex-direction: column;
        width: 98%;
        height: 97%;
        object-fit: cover;
        border-radius: 1%;
        box-sizing: border-box;
        margin:1%;
        background-image: url(../assets/fondo.jpg);
        background-position: center;
        background-size: cover; 
        background-repeat: no-repeat;
        justify-content: center; 
        align-items: center;
        position: relative;
        
    }
    #banner{
        text-align: center;
        font-size: 2rem; 
        padding: 20px 40px;
        text-justify: center;
        background-color: rgba(211, 213, 238, 0.6);
        border-radius: 10px;
        width: 100%;
        max-width: 100%; 
        margin: 0 auto; 
        text-decoration-color: black;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
        font-family: 'Alegreya Sans SC', sans-serif;
        color: black;
        font-weight: bold;
        font-style: italic; 
    }
    #vol{
        text-align: right;
        width: 80%;
        position: absolute; 
        bottom: 5px; 
        right: 5%; 
        font-size: 1.5rem;
        color: rgb(176, 180, 236);
        font-family: 'Alegreya Sans SC', sans-serif;
        font-weight: bold; 
        font-style: italic; 

    }
    #decor{
        width: 100%;
    }
    #position{
        width: 70%;
        position: absolute;
        height: 45%;
    }
    #side-bar-aplicar-filtros{
	display: none;
}
